html, body {
  width: 200px;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
	border-radius: 5px;
}

.button:hover {
  background-color: green;
	color: white;
}

.yellow:hover {
	background-color: yellow;
	color: black;
}
